---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

type Props = {
    title: string
    description: string
    image: string
}

const { title, description, image } = Astro.props

---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{title}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Sense Making Ltd.">
  <meta name="description" content={description}>
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:image" content={image}>
  <meta property="og:url" content={Astro.url}>
  <meta property="og:site_name" content="TRNK: A Software Developemt Mindset">
  <meta name="twitter:card" content={image}>
  <meta name="twitter:image:alt" content={title}>
  
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body>
  <Header />
  <main>
  <slot /> 
  </main>
  <Footer />
</body>
</html>

<style is:global>
:root {
  --colour-primary: #AE1400;
  --colour-secondary: #222;
  --colour-tertiary: #4381c1;
  --colour-quaternary: #f3a712;
  --colour-quinary: #e0ca3c;  
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;    
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  min-height: 100dvh;
  background-color: var(--colour-secondary);
  /* background: #701A0F;
background: linear-gradient(350deg,rgba(112, 26, 15, 1) 0%, rgba(34, 34, 34, 1) 53%); */
    color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  flex: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;;
}

</style>